<div class="container">
	<h6> it is also a creation operator</h6>
	<div class="row">
		<div class="col-sm-6">
			<h2>to</h2>
			<div class="card Light card">
				<div class="card-header border border-info">List of Movies</div>
				<div class="card-body">
					<ul id="fromExample"></ul>
				</div>
				<div class="card-footer">Footer</div>
			</div>
		</div>

		<div class="col-sm-6">
			<h2>From</h2>
			<div class="card Light card">
				<div class="card-header border border-info">List of Movies</div>
				<div class="card-body">
					<ul id="toExample"></ul>
				</div>
				<div class="card-footer">Footer</div>
			</div>
		</div>

	</div>
</div>