<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto pull-right">
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="./promise-component">Promise</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="./observable-component">observable</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>