<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h6> it is a creation operator</h6>
			<h2>Timer works!</h2>
			<div class="card Light card">
				<div class="card-header border border-info">List of Movies</div>
				<div class="card-body">
					<ul id="timerExample"></ul>
				</div>
				<div class="card-footer">Footer</div>
			</div>

		
		</div>

		<div class="col-sm-6">
			<h2>Interval works!</h2>
			<div class="card Light card">
				<div class="card-header border border-info">List of Movies</div>
				<div class="card-body">
					<ul id="intervalExample"></ul>
				</div>
				<div class="card-footer">Footer</div>
			</div>

		
		</div>
		
	</div>
</div>