<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="clearfix"></div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Reactive Forms</h4>
          </div>
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-sm-6">
                <label>First Name</label>
                <input type="text" name="firstname" class="form-control">
              </div>
              <div class="col-sm-6">
                <label>Email</label>
                <input type="text" name="email" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <!-- <select [(ngModel)]="model"> -->
                <label id="example-radio-group-label">you are a person?</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                 >
                  <mat-radio-button class="example-radio-button" value="robort">Robort</mat-radio-button>
                  <mat-radio-button class="example-radio-button" value="human">Human</mat-radio-button>
                
                </mat-radio-group>
              </div>
              <div class="col-sm-12">
                <label id="example-radio-group-label">gender</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                 >
                  <!-- <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                  </mat-radio-button> -->
                  <mat-radio-button class="example-radio-button" value="male">Male</mat-radio-button>
                  <mat-radio-button class="example-radio-button" value="Female">female</mat-radio-button>
                
                </mat-radio-group>
                <div>Your favorite season is: {{favoriteSeason}}</div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-12">
                <!-- <select [(ngModel)]="model">
                  <option *ngFor="let item of list" [value]="item">{{item}}</option>
                </select> -->
                <label>Select your city</label>
                <mat-select style="border: 1px solid #bdb9b9;">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="amritsar">amritsar</mat-option>
                </mat-select>
                
              </div>
              <div class="col-sm-12">
                <div class="col-sm-12">
                  <label id="example-radio-group-label">Are you want to go harmandir shahib?</label>
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                   >

                    <mat-radio-button class="example-radio-button" value="yes">yes</mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="no">NO</mat-radio-button>
                  
                  </mat-radio-group>
                  <!-- <div>Your favorite season is: {{favoriteSeason}}</div> -->
                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-12">
                <label>Hobbies</label>
                <section class="example-section">
                  <mat-checkbox class="example-margin" value="cooking">Cooking</mat-checkbox>
                  <mat-checkbox class="example-margin" value="dance">Dance</mat-checkbox>
                </section>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-12">
               
                <h3>other Skills as alias</h3> <button class="bg bg-success">Add More Skills</button><br><br>

                <div class="skills-row" style="border: 1px solid #bdb9b9; padding:20px; background:#fbf4f494">
                  <h3>Skill name</h3>
                  <input type="text" name="skill-name"><br>

                  <h3>Experience</h3>
                  <section class="example-section">
                    <mat-checkbox class="example-margin" value="1">1 Year</mat-checkbox>
                    <mat-checkbox class="example-margin" value="2">2 Year</mat-checkbox>
                  </section>
           
                  <button class="bg bg-danger">Remove</button>
                </div>
              </div>
             

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>