<div class="row">

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> <a routerLink="./to-from">Of and From</a></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="./timer_interval">timer and interval</a></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="./fromEvent">fromEvent</a></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="./switchMap">switchMap</a></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a routerLink='./map_filter'> map and filter</a></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="./toArray">ToArray</a></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="./take">take opertor</a></h5>
      </div>
    </div>
  </div>


</div>