
<div class="main-content">
    <div class="container-fluid">
        <h3>Components & Templates</h3>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header">
                        <h4 class="card-title"><a (click)="templateSyntax()">Template syntax</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header">
                        <h4 class="card-title"><a (click)="userInput()">User Input</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header">
                        <h4 class="card-title"><a >Dummy</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header">
                        <h4 class="card-title"><a >Dummy</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  