
<div class="main-content">
    <div class="container-fluid">
        <h3>Angular Components</h3>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header">
                        <h4 class="card-title"><a (click)="array()">Array</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header">
                        <h4 class="card-title"><a (click)="componentsForm()" >Forms</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header">
                        <h4 class="card-title"><a (click)="componentAnimation()" >Animation</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header">
                        <h4 class="card-title" (click)="javascriptLogic()"><a >javascript Login</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  