<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="card">
					<div class="card-header card-header-warning">
						<h4 class="card-title">Array</h4>
					</div>
					<div class="card-body table-responsive">
						<button (click)="everyFunction()">Every function</button>
						<p>{{everyFunctionResult}}</p>
						<button (click)="filterFunction()">Filter function</button>
						<hr>
							<h5>Foreach Array</h5>
							<button (click)="sumOfAllTheArrays()">Sum of all the arrays</button>
						<hr>
							<h5>indexOf</h5>
							<button (click)="indexofFunction()"> get index of array</button>
							<p>{{indexOfResult}}</p>
						<hr>
							<h5>isArray</h5>
							<button (click)="checkItIsArray()">Check it is array or not </button>
							<p>{{checkItIsArrayResult}}</p>
						<hr>
						<h5>join() method</h5>
						<button (click)="joinFunction()">join method convert array in to string</button>
						<hr>
						<h5>pop() method</h5>
						<button (click)="popFunction()">remove the last element from array</button>
						<hr>
						<h5>push() method</h5>
						<button (click)="pushFunction()">add new item in the end of array </button>
						<hr>
						<h3>Object</h3>
						<h5>cancat object</h5>
						<button (click)="concatFunction()">add two object</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

