.card .card-body,.card-header{
  // width: 80%;
  // margin: 0 auto;
}
h4{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.container-fluid{
  // display: flex;
  // justify-content: center;
  // align-items:center;
  padding-top: 10%;
}
